.is-dark {
  background-color: rgb(187, 56, 89);
}
.navbar-item {
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-item .button{
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
}
