(draw-box "Code"{ :span 16  :fill "#00AA00" })
(draw-box "Library"{ :span 16  :fill "#009A00" })
(draw-box "ExtraCode"{ :span 16  :fill "#008A00" })
(draw-box "Globals"{ :span 16  :fill "#006A00" })
(draw-box "Heap" { :span 16  :fill "#666655" })
(draw-box nil{ :span 16  :fill "#FFFFFF" })
(draw-box "Stack"{ :span 16  :fill "#5343FF" })
(draw-bottom{ :span 16  :fill "#FF70FF" })
